@use 'iconfont';
@use 'buttons';
@use 'embed';
@use 'social_links';
@use 'downloads';
@use 'transcript_search';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
