@use 'icon-vars';

@font-face {
  font-family: 'podigee-podcast-player';
  src: url('#{icon-vars.$icomoon-font-path}/podigee-podcast-player.ttf?kq1u8x') format('truetype'),
    url('#{icon-vars.$icomoon-font-path}/podigee-podcast-player.woff?kq1u8x') format('woff'),
    url('#{icon-vars.$icomoon-font-path}/podigee-podcast-player.svg?kq1u8x#podigee-podcast-player') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'podigee-podcast-player' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cast {
  &:before {
    content: icon-vars.$icon-cast;
  }
}
.icon-close {
  &:before {
    content: icon-vars.$icon-close;
  }
}
.icon-download {
  &:before {
    content: icon-vars.$icon-download;
  }
}
.icon-chaptermarks {
  &:before {
    content: icon-vars.$icon-chaptermarks;
  }
}
.icon-error_outline {
  &:before {
    content: icon-vars.$icon-error_outline;
  }
}
.icon-transcript {
  &:before {
    content: icon-vars.$icon-transcript;
  }
}
.icon-forward-30 {
  &:before {
    content: icon-vars.$icon-forward_30;
  }
}
.icon-episode-info {
  &:before {
    content: icon-vars.$icon-episode-info;
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: icon-vars.$icon-keyboard_arrow_left;
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: icon-vars.$icon-keyboard_arrow_right;
  }
}
.icon-playlist {
  &:before {
    content: icon-vars.$icon-playlist;
  }
}
.icon-mail_outline {
  &:before {
    content: icon-vars.$icon-mail_outline;
  }
}
.icon-pause {
  &:before {
    content: icon-vars.$icon-pause;
  }
}
.icon-play {
  &:before {
    content: icon-vars.$icon-play;
  }
}
.icon-backward-10 {
  &:before {
    content: icon-vars.$icon-backward_10;
  }
}
.icon-share {
  &:before {
    content: icon-vars.$icon-share;
  }
}
.icon-skip-next {
  &:before {
    content: icon-vars.$icon-skip_next;
  }
}
.icon-skip-previous {
  &:before {
    content: icon-vars.$icon-skip_previous;
  }
}
.icon-twitter {
  &:before {
    content: icon-vars.$icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: icon-vars.$icon-facebook;
  }
}
.icon-facebook-f {
  &:before {
    content: icon-vars.$icon-facebook-f;
  }
}
.icon-google-plus {
  &:before {
    content: icon-vars.$icon-google-plus;
  }
}
.icon-whatsapp {
  &:before {
    content: icon-vars.$icon-whatsapp;
  }
}
